body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.navbar-brand .text-logo1 {
    color: #f8b200;
}

.navbar-brand .text-logo2 {
    color: #1c98ed;
}

.logo-img {
    width: 50px;
    height: 50px;
}

.navbar-scrolled {
    background-color: rgba(0, 0, 0, 0.218);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.14);
}

.profile-header {
    background-color: white;
    padding: 20px 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    margin-top: 90px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.profile-nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    padding-bottom: 7px;
    font-weight: 500;
}

.profile-nav a.active {
    border-bottom: 2px solid #00a680;
}

.content .section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.view-all:hover {
    color: #00a680;
    cursor: pointer;
}
